@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de recuperação de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Se o email informado for válido, você receberá um email de recuperação de senha.
</p>

