@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>
<hr />
<h4>Contato:</h4>
<br />
<span class="fa fa-at"></span>
<a href="https://www.linkedin.com/in/otavio-rockenbach/"> LinkedIn - Otavio Rockenbach</a>

<br />
<span class="fa fa-at"></span>
<a href="https://github.com/otaviotnk"> GitHub - Otavio Rockenbach</a>

<br />
<span class="fa fa-envelope"></span> <email email-domain="gmail.com">otavio.atr</email>

